* {
    font-size: 13px;
    font-family: Helvetica, Arial;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
}

h1, h2, h3 {
    font-size: 15px;
}

h4, h5, h6 {
    font-size: 14px;
}

div {
    margin-top: 5px;
    margin-bottom: 5px;
}